snippet arr "Description" b
[
	${1:obj-array},
	$2
]
endsnippet
snippet obj "Description" b
{
	"${1:name}":${2:"value"},
	$3
}
endsnippet
snippet pair "Description" b
"${1:name}":${2:"value"},
$3
endsnippet
